<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:3000/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/blogs">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/blogs/new">New</a>
            </li>
        </ul>
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="#">R7-Blogs</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://www.deviantart.com/rishu07" target="_blank">Creations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/rishabh-srivastava-r7/" target="_blank">Contact</a>
            </li>
        </ul>
    </div>
</nav>