.card{
    width: 1000px;
    margin: 0 auto;
}
.card .card-body{
    text-align: justify;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
p,h5{
    font-family: 'Poppins', sans-serif;
}
.cmntdiv{
    margin-left: 260px;
}
.cmntdes{
    background-color: rgba(184, 181, 181, 0.247);
    width: 450px;
    word-break: break-all;
    height: fit-content;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}

#delbtn{
    color: rgba(122, 121, 121, 0.836);
    transition-duration: 0.1s;
    border-radius: 100px;
}
#delbtn:hover{
    cursor: pointer;
    color:#df413c;
}