<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylelanding.css">
    <title>Landing Page</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <br>
    <br>
    <br>
    <br>
    <div class="lhs">
        <img src="https://i.ibb.co/z6R476m/r7blogs.png" alt="r-7 blogs">
        <br>
        <h1>The art of bringing your thoughts to screen</h1>
        <h4>Get started with R-7 Blogs now...</h4>
        <a class="btn btn-primary" href="/blogs">Let's Go</a>
    </div> 
    <div class="bgrhs"></div>
    <div class="rhs">
       <a href="https://www.linkedin.com/in/rishabh-srivastava-r7/" target="_blank"><img class="founderimg" src="https://i.ibb.co/xGWpcfy/r7.jpg" alt="founder"></a>
        <br>
        <br>
        <h4>Rishabh Srivastava</h4>
        <p>Founder, R-7 Blogs</p>
    </div>
</body>
</html>